 @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{/* CSS HEX */
--azul: #0a1128ff;
--azul-2: #001f54ff;
--azul-3: #034078ff;
--azul-claro: #1282a2ff;
--branco: #fefcfbff;
--fonte-titulo: "New Amsterdam", sans-serif;
--fonte-texto: "Raleway", sans-serif;
}

body{
    background-color: var(--azul);
    font-family: var(--fonte-titulo);
    font-size: 16px;
}

.titulo-principal{
    font-family: var(--fonte-titulo);
}
.cabecalho{
    background-color: var(--azul-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.cabecalho-img{
    width: 10%;
    border-radius: 100%;
}

.cabecalho-nav__link{
    text-decoration: none;
    font-family: var(--texto-titulo);
    font-size: 24px;
    color: var(--cor-um);
    margin-right: 24px;
}
.principal-capa{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 24px;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    margin-left: 12px;
    padding: 24px 12px;
}

.principal-capa__conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.principal-capa__titulo{
    font-family: var(--fonte-titulo);
    font-size: 32px;
    color: var(--cor-dois);
    margin-bottom: 12px;
}

.principal-capa-texto{
    font-size: 24px;
    margin-top: 24px;
}
.principal-capa__combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.principal-capa__botao{
    background-color: var(--azul);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    color: var(--azul-2);
    text-decoration: none;
}


